<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # HTML এক্সটেনশন ছাড়া ইউআরএল হ্যান্ডেল করার জন্য
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^(.*)$ $1.html [L]

  # ৪-০-৪ এরর হলে index.html এ পাঠানো
  ErrorDocument 404 /index.html
</IfModule>